html, body{ height: 100%; }
body.landing-page{
	background: url(../images/local-food.jpg) no-repeat center;
	background-size: cover; 
}
.landing-page-tint{
	height: 100%; background: rgba(0, 0, 0, 0.5);
}

.login-wrapper{ background: #fff; padding: 25px; }

